*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: #3E2C41;
}


.first-section{
	background-color: #5C527F;
}
.container-fluid img {
	width: 100%;
}

.column-center{
	margin: auto 1rem;

}

.carousel-section{
	padding: 2rem;
	background-color: #864879;
}

#slides-carousel{
	width: 100%;
	height:auto;
}

.carousel-item img{
	height: 650px;
}

.user-reviews{
	background-color: #E1578A;
}

.container{
	width: 80%;
}
.user-section img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-bottom: 1.5rem;
}
.user-section{
	padding: 1.5rem;
}
.row h3{
	margin-left: 7rem;
	text-align: center;
}

@media (max-width: 950px){
	.carousel-item img{
		height: 400px;
	}
	.user-section{
		margin-left: 6rem;
	}
	.row h3{
		text-align: center;
	}
	.user-section img{
		width: 250px;
		height: 250px;
		border-radius: 50%;
		margin-bottom: 1.5rem;
	}
	.user-section{
		padding: 1.5rem;
	}
	.row h3{
		margin-left: 7rem;
		text-align: center;
	}

}
@media (max-width: 600px){
	.column-center{
		margin:0;
		padding-top: 2rem;
	}
	.carousel-section{
		display:none;
	}
	.row p,h3{
		text-align: center;
	}
}
