body {
  background:url("C:/Users/Prashanth B N/Desktop/UTL/project/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 50%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
       
