body {
  text-align: center;
  padding: 40px 0;
  background: #999799;
}
h1 {
  color: #039403;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size:20px;
  margin: 0;
}
i {
color: #099728;
font-size: 100px;
line-height: 200px;
margin-left:-15px;
}
.card {
background: #fad0f4;
padding: 60px;
border-radius: 4px;
box-shadow: 0 2px 3px #eaeff5;
display: inline-block;
margin: 0 auto;

}

.ann{
  color: white;
  background-color: #0f1eec;
  padding: 5px 11px;
  border-style: 2px solid;
  border-radius: 20px;
  text-decoration: none;
}
    
   